<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gun Shop</title>
        <link rel="icon" href="https://www.favicon.cc/logo3d/350003.png">
        <link href="../css/index.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>Log out / Delete</h1>
        <a href="../php/logout.php" class="btn">Log out</a>
        <div class="space"></div>
        <a href="../php/delete.php" class="btn">Delete Your Account</a>
        <div class="space"></div>
        <a href="../index.php" class="home">Home</a>
    </body>
</html>