<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gun Shop</title>
        <link rel="icon" href="https://www.favicon.cc/logo3d/350003.png">
        <link href="../css/index.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>Change Account</h1>
        <form class="signform" action="../php/modif.php" method="POST">
                <p class="formtext">Login</p><input class="inputext" type="text" name="login" value="" />
                <br />
                <p class="formtext">Old Password</p><input class="inputext" type="password" name="oldpw" value="" />
                <br />
                <p class="formtext">New Password</p><input class="inputext" type="password" name="newpw" value="" />
                <button class="butsub" type="submit" value="OK" name="submit">OK</button>
        </form>
        <div class="space"></div>
        <a href="../index.php" class="home">Home</a>
    </body>
</html>